<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Pokemon index page</h1>
        <ul>
            <% for(let i = 0; i < pokemon.length; i++){ %>
                <li>
                    The <a href="/pokemon/<%=pokemon[i]._id%>"><%=pokemon[i].name; %>
                    <% } %>

                    <a href="/pokemon/<%=pokemon[i].id; %>/edit">Edit</a>

                    <form action="/pokemon/<%=pokemon[i]._id%>?_method=DELETE" method="POST">
                      <button type="submit">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/pokemon/new">Create a New Pokemon</a>
        </nav>
    </body>
</html>
