<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>New POkemon Page</h1>
    <form action="/pokemon.js" method="POST">
    Name: <input type="text" name="name"><br/>
    <button type="submit">Create Pokemon</button>
  </form>
</body>
</html>
